@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&family=Ubuntu:wght@300;400;700&display=swap');
.app {
    font-family: 'Ubuntu','Poppins', sans-serif;
}
.app__container {
    width : 90%;
    margin: 0 auto;
    min-height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    background-color: #fff;
    box-shadow: 16px 38px 114px 7px rgba(71,69,69,0.63);
-webkit-box-shadow: 16px 38px 114px 7px rgba(71,69,69,0.63);
-moz-box-shadow: 16px 38px 114px 7px rgba(71,69,69,0.63);
}
.app::-webkit-scrollbar {
    width: 0;  /* Remove scrollbar space */
    background: transparent;  /* Optional: just make scrollbar invisible */
}
/* Optional: show position indicator in red */
.app::-webkit-scrollbar-thumb {
    background: #FF0000;
}
.contact_us {
    background-color: #2b2e4a;
    background-image: linear-gradient(to bottom, #2b2e4a, #372f4b, #41314c, #4b334b, #53354a);
    color: #f2f2f2;
    font-size: 1.2rem;
    font-family: 'Ubuntu', sans-serif;
    height: 2.5rem;
    width: 140px;
    padding: 5px 3px;
    font-weight: 400;
    border: none;
    transition: all 200ms ease-in-out;
}
.contact_us:hover {
    cursor: pointer;
    background-color: #ffffff;
    background-image: none;
    color: #2b2e4a;
    border: 3px solid #2b2e4a;
    font-weight: 500;
}

.cta {
    font-size: 1.5rem;
    color: #fff;
    width: 200px;
    display: flex;
    align-items: center;
    padding: 5px;
    background-color: #2b2e4a;
    transition: all 400ms ease-in-out;
}
.cta:hover{
    cursor: pointer;
    transform:  translateX(5px);
}
.cta__youtube,.signout__button {
    border: none;
    background-color: #cd201f;
}
.youtube {
    margin-right: 5px;
}