.article {
    width: 95%;
    height:200vh;
    min-height: 500px;
    margin: 20px auto;
}
.article__main {
    height: 100vh;
    width: 90%;
    margin: 0 auto;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.article__main__image {
    flex: 0.85;
    width: 100%;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    object-fit:cover;
    overflow: hidden;
}
.article__main__image>img{
    width: 100%;
    height: auto;
}
.article__main__title {
    flex: 0.15;
    width: 100%;
}
.article__main__title>h1 {
    font-size: 2.5rem;
    font-weight: 550;
    color: #2a2a2a;
}
.article__main__date {
    font-weight: 300;
    font-size: 1.05rem;
    font-family: "Poppins", sans-serif;
    color: rgb(98, 98, 126);
}
.article__body {
    width: 90%;
    margin: 10px auto;
    font-family: "Poppins",sans-serif;
    font-weight: 400;
    font-size: 1.2rem;
    color: #2a2a2a;
}

.article__video {
    width: 90%;
    margin: 20px auto;
}