.comment {
    width: 70%;
    max-width: 80vw;
    min-height: 60px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-top: 1px solid grey;
}
.comment__body {
    flex: 0.7;
    font-size: 1.3rem;
    color: #2a2a2a;
}
.comment__time {
    flex: 0.3;
    color: gray;
    font-size: 0.8rem;
    margin-left: 30px;
}

/*Adaptive*/
@media screen and (max-width:800px) {
    .comment{
        width: 80%;
    }
}
@media screen and (max-width:650px) {
    .comment{
        width: 85%;
        max-width: 90vw;
    }
    .comment__body{
        font-size: 1.2rem;
    }
}
@media screen and (max-width:550px) {
    .comment{
        width: 90%;
        max-width: 100vw;
    }
    .comment__body{
        font-size: 1.1rem;
    }
    .comment__time{
        font-size: 0.6rem;
    }
}
@media screen and (max-width:450px) {
    .comment{
        width: 95%;
    }
}
@media screen and (max-width:350px) {
    .comment{
        width: 100%;
    }
}