.comment {
    width: 70%;
    max-width: 60vw;
    min-height: 60px;
    padding: 10px 0;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: none;
    border-top: 1px solid grey;
}
.comment__body {
    flex: 0.7;
    font-size: 1.3rem;
    color: #2a2a2a;
}
.comment__time {
    flex: 0.3;
    color: gray;
    font-size: 0.8rem;
    margin-left: 30px;
}