.header {
    /*! breakpoint-> 1050px */
    height: 10%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    flex: 0.25;
    height: 100%;
    margin: 15px 0 15px 10px;
    display: flex;
}

.header__logo:hover{
    cursor: pointer;
}
.header__logo>img {
    object-fit: contain;
    height: 60px;
    width: 60px;
}

.header__logo>div {
    align-self:center;
    font-size: 1.8rem;
    margin-left: 5px;
    color: #2b2e4a;
}
.header__links {
   flex: 0.5;
   display: flex;
   justify-content: center;

}
.header__cta {
    flex: 0.2;
    display: flex;
   justify-content: center;
}
.header>.cta,.signout__button{
    max-width: 125px !important;
    font-size: 1.2rem !important;
}

/*Reponsive Screens*/

/*Small Laptops*/
@media screen and (max-width : 1100px) {
    .header__logo>div {
        font-size: 1.5rem;
    }
}

@media screen and (max-width : 950px) {
    .header__logo>div {
        font-size: 1.4rem;
    }
}
@media screen and (max-width : 890px) {
    .header__logo>div {
        font-size: 1.3rem;
    }
    .header__logo>img {
        height: 45px;
        width: 45px;
    }
}

/* Tab Screens */
@media screen and (max-width : 780px) {
    .header__logo>div {
        font-size: 1.15rem;
    }
    .header__logo>img {
        height: 40px;
        width: 40px;
    }
}

/* Mobile Screen */
@media screen and (max-width : 580px) {
    .header {
        position: relative;
    }
    .header__logo>div {
        font-size: 1.4rem;
    }
    .header__logo>img {
        height: 45px;
        width: 45px;
    }
}