.header {
    /*! breakpoint-> 1050px */
    height: 10%;
    width: 95%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header__logo {
    flex: 0.2;
    height: 100%;
    margin: 15px 10px;
    display: flex;
}

.header__logo:hover{
    cursor: pointer;
}
.header__logo>img {
    object-fit: contain;
    height: 60px;
    width: 60px;
}

.header__logo>div {
    align-self:center;
    font-size: 1.8rem;
    margin-left: 5px;
    color: #2b2e4a;
}
.header__links {
   flex: 0.6;
}
.header__cta {
    flex: 0.2;
}