.post {
    width: 90%;
    min-height: 80vh;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.post__main {
    width: 100%;
    height: 90px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.post__main__title{
    flex: 0.5;
    width: 70%;
    margin-bottom: 20px;
}
.main__title__input {
    width: 100%;
    height: 100%;
    border: 1px solid #2b2e4a;
    border-radius: 2px;
    outline: none;
    font-size: 20px;
}
.post__main__image{
    flex: 0.5;
    margin-bottom: 20px;
}
#fileToUpload {
    height: 90%;
}
input[type=file]::file-selector-button {
    height: 100%;
    background: none;
    border: 1px solid #e40017;
    color: #e40017;
}

#image__upload__button{
    background-color: #e40017;
    border: none;
    color: #fff;
    height: 100%;
}
#image__upload__button:hover{
    background-color: #ffc93c;
    color: #2b2e4a;
    cursor: pointer;
}
#image__upload__button:active{
    transform: translateX(10px);
}
.post__content {
    width: 70%;
}
.post__submit {
    width: 70%;
    display: flex;
    justify-content: flex-end;
}
.post__submit > button {
    background-color: #2b2e4a;
    color: #fff;
    border: none;
    width:30%;
    height: 30px;
    font-size: 16px;
}
