.social {
    
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}
.social__link>a {
    font-size: 1.2rem;
    font-weight: 400;
    text-decoration: none;
    color: #afafaf;

}
.social__link {
    transition: transform 400ms ease-in-out;
}

.social__link:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.facebook>a:hover{
    color: #3b5998;
}
.instagram>a:hover{
    color: #e4405f;
}
.youtube>a:hover{
    color: #cd201f;
}

/*Drop Down For Mobile*/
@media screen and (max-width:580px) {
    .social {
        flex-direction: column;
    }
}