.social {
    margin-left: 40%;
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}
.social__link {
    font-size: 1.2rem;
    font-weight: 400;
    color: #afafaf;
    transition: transform 200ms ease-in-out;
}
.social__link:hover {
    cursor: pointer;
    transform: scale(1.2);
}
.facebook:hover{
    color: #3b5998;
}
.instagram:hover{
    color: #e4405f;
}
.youtube:hover{
    color: #cd201f;
}